@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    border: none;
    outline: none;
}

body {
    background-color: #313131;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    width: 90%;
    max-width: 500px;
    background-color: #424242;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 30px 30px 20px;
}

.card h2 {
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(20px, 2rem, 40px);
    font-weight: bold;
    align-self: center;
    margin-bottom: 10px;
}

.card .input-container {
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;
}

.card .input-container label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    background-color: #424242;
    transition: 0.3s;
    pointer-events: none;
}

.card .input-container input {
    width: 75%;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    border: 1.6px solid #fff;
    color: #fff;
    padding-left: 35px;
    font-size: 14px;
}

.card .input-container input:focus ~ label,
.card .input-container input:valid ~ label {
    transform: translate(-20px, -200%);
    font-size: 12px;
}

.card .input-container button {
    width: 25%;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #313131;
    background: #fff;
    transition: 0.3s;
}

.card button:hover {
    opacity: 80%;
}

.card > button {
    align-self: center;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #313131;
    background: #fff;
    transition: 0.3s;
    margin-top: 20px;
}

.names-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.name-item {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.del-btn {
    cursor: pointer;
    color: #ff5555;
    font-weight: bold;
    user-select: none;
}

#winnerResult {
    align-self: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@property --angle1 {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@property --angle2 {
    syntax: "<angle>";
    initial-value: 180deg;
    inherits: false;
}

.card::after,
.card::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 12px;
    z-index: -2;
    animation: spining 7s linear infinite;
}

.card::after {
    background: conic-gradient(from var(--angle1), transparent 70%, #fff);
}
.card::before {
    background: conic-gradient(from var(--angle2), transparent 70%, #fff);
}

@keyframes spining {
    to {
        --angle1: 360deg;
        --angle2: 540deg;
    }
}
